{% extends 'base.html.twig' %}

{% block title %}{{ 'rechercher_reference_enfant' | trans }}{% endblock %}
    
{% block body %}
<div class="big-font">
{{ form_start(form) }}
<p>Cette référence se trouve sur le coupon au niveau de l'enfant.</p>
{{ form_widget(form) }}
{{ form_end(form) }}
</div>
<br><br>
<strong><a href="{{ path('fos_user_security_logout') }}">[ Se déconnecter ]</a></strong>
<br><br>
{% endblock body %}
