{% extends 'base.html.twig' %}
{% form_theme form ':retourenfantcoupon2:form_div_layout.html.twig' %}

{% block title %}{{ 'retour_enfant_coupon_2_title' | trans }}{% endblock %}
    
{% block body %}
    <h1>{{ 'retour_enfant_coupon_2_title' | trans }}</h1>
    <p>{{ 'retour_enfant_coupon_2' | trans }}</p>
    {{ form_start(form) }}
    <div class="big-labels justify">
        <p class="big-font">
            {% for lien in liens %}
                {{ lien.genererLangageNaturelHtml | raw }}<br><br>
            {% endfor %}
        </p>
        <div class="form-group">
            {{ form_label(form.piecesEnvoyees) }}
            <p>Pour l'enfant concerné merci de préciser la pièce justificative envoyée (plusieurs pièces possibles).</p>
            {{ form_errors(form.piecesEnvoyees) }}
            {{ form_widget(form.piecesEnvoyees) }}
        </div>
        <div class="form-group">
            {{ form_label(form.valide) }}
            {{ form_errors(form.valide) }}
            {{ form_widget(form.valide) }}
        </div>
        <div class="form-group">
            {{ form_label(form.envoiCourrier) }}
            {{ form_errors(form.envoiCourrier) }}
            {{ form_widget(form.envoiCourrier) }}
        </div>
        <div class="form-group">
            {{ form_label(form.dateFinValidite) }}
            <p>Uniquement les pièces valides en 2018</p>
            {{ form_errors(form.dateFinValidite) }}
            {{ form_widget(form.dateFinValidite) }}
        </div>
        <div class="form-group">
            {{ form_label(form.demandeRadiation) }}
            {{ form_errors(form.demandeRadiation) }}
            {{ form_widget(form.demandeRadiation) }}
        </div>
        <div id="radiation_details" style="display: none;">
            <div class="form-group">
                {{ form_label(form.motifRadiation) }}
                {{ form_errors(form.motifRadiation) }}
                {{ form_widget(form.motifRadiation) }}
            </div>
            <div class="form-group">
                {{ form_label(form.autreMotifRadiation) }}
                {{ form_errors(form.autreMotifRadiation) }}
                {{ form_widget(form.autreMotifRadiation) }}
            </div>
            <div class="form-group">
                {{ form_label(form.commentaire) }}
                <p>Ajouter un commentaire sur la radiation si nécessaire</p>
                {{ form_errors(form.commentaire) }}
                {{ form_widget(form.commentaire) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.referenceEnfant) }}
            <p>Veuillez retaper la référence de l'enfant (copier / coller interdit)</p>
            <p id="retour_enfant_coupon2_error_reference_enfant"
               style="color: red; display: none">{{ 'retour_enfant_coupon_2_error_references_confirm' | trans }}</p>
            {{ form_errors(form.referenceEnfant) }}
            {{ form_widget(form.referenceEnfant) }}
        </div>
    </div>
    <input type="submit" value="Valider" class="btn btn-primary"/>
    {{ form_end(form) }}
    <br><br>
    <strong><a href="{{ path('fos_user_security_logout') }}">[ Se déconnecter ]</a></strong>
    <br><br>
    <script type="text/javascript">
        $(document).ready(function () {
            var refError = document.getElementById('retour_enfant_coupon2_error_reference_enfant');
            var ref = document.getElementById('retour_enfant_coupon2_referenceEnfant');
            var submitForm = function (e) {
                refError.style.display = 'none';
                var valid = (ref.value === '{{ nss }}');
                if (!valid) {
                    e.preventDefault();
                    refError.style.display = '';
                }
            };
            var form = document.getElementsByTagName('form')[0];
            if (form.addEventListener) {
                form.addEventListener("submit", submitForm, false);
            } else if (form.attachEvent) {
                form.attachEvent('onsubmit', submitForm);
            }
            $('#retour_enfant_coupon2_referenceEnfant').bind("cut copy paste contextmenu", function (e) {
                e.preventDefault();
            });
            var motifRadiation = $('#retour_enfant_coupon2_motifRadiation input[type=radio]');
            var toggleDemandeRadiationDetails = function(e) {
                if ($(this).is(':checked') && $(this).val() === '1') { // radiation demandée
                    motifRadiation.attr('required', 'required');
                    motifRadiation.prop('checked', false);
                    $('#retour_enfant_coupon2_autreMotifRadiation, #retour_enfant_coupon2_commentaire').val('');
                    $('#radiation_details').show();
                } else if (!e
                    && $('#retour_enfant_coupon2_demandeRadiation input[type=radio]:checked').length
                    && $('#retour_enfant_coupon2_demandeRadiation input[type=radio]:checked').val() === '1') {
                    $.proxy(toggleDemandeRadiationDetails, $('#retour_enfant_coupon2_demandeRadiation input[type=radio]:checked'))();
                } else {
                    $('#radiation_details').hide();
                    motifRadiation.removeAttr('required');
                    motifRadiation.prop('checked', false);
                    $('#retour_enfant_coupon2_autreMotifRadiation, #retour_enfant_coupon2_commentaire').val('');
                }
            };
            $('#retour_enfant_coupon2_demandeRadiation input[type=radio]').change(toggleDemandeRadiationDetails);
            toggleDemandeRadiationDetails();
        });
    </script>
{% endblock body %}