{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    {% form_theme form ':retourenfantcoupon2:form_div_layout.html.twig' %}
    <div class="middle-font">

        <u>Ouvrant droit :</u> {{ ouvrantDroit }}<br>
        <br>

        {{ form_start(form) }}

        {% for ouvrantDroitHasAyantDroits in form.ouvrantDroitHasAyantDroits %}
            {% set ayantDroit = ouvrantDroitHasAyantDroits.ayantDroit.vars.value %}

            <u>Ayant droit :</u> {{ ayantDroit.civilite }} {{ ayantDroit.nom }} {{ ayantDroit.prenom }} <br>
            {{ form_row(ouvrantDroitHasAyantDroits.ayantDroit.typePopulation) }}<br>
            <br>
            <hr>

        {% endfor %}

        {{ form_end(form) }}
    </div>
{% endblock body %}
