{% extends 'base.html.twig' %}

{% block title %}{{ 'retour_coupon_1' | trans }}{% endblock %}

{% block style %}
    {{ parent() }}
<style>
    label[for=form_numeroRecommande], #form_numeroRecommande {
        font-size: 0.7em;
    }
</style>
{% endblock %}


{% block body %}
    <h1>Formulaire de retours Coupons 1</h1>
    <hr>
    <div class="big-font">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock body %}
